{% extends "base.html" %}
{% load static %}

{% block content %}

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a href="/"><span class="glyphicon glyphicon-home"></span>  Home</a>
          </li>
          <li class="active">
            <a href="/submit/"><span class="glyphicon glyphicon-list"></span>  Submit</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-right">
            <a href="https://github.com/awaseem2/loversity"><span class="glyphicon glyphicon-console"></span> Check Out On Github!</a>
          </li>
        </ul>
      </div>
    </nav>
  <div class="container">


    <h2>submit form</h2>

    <form action="/success/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
    

</div>

<br/>
<br/>
<br/>
<br/>


{% endblock %}