{% extends "base.html" %}
{% load static %}

{% block content %}

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a href="/"><span class="glyphicon glyphicon-home"></span>  Home</a>
          </li>
          <li>
            <a href="/submit/"><span class="glyphicon glyphicon-list"></span>  Submit</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-right">
            <a href="https://github.com/awaseem2/loversity"><span class="glyphicon glyphicon-console"></span> Check Out On Github!</a>
          </li>
        </ul>
      </div>
    </nav>


<br/>
<br/>


<img class="success-image" src="https://static01.nyt.com/images/2019/09/25/fashion/loveletter/loveletter-superJumbo-v2.png" alt="love" width="500" height="auto">

<br/>
<br/>
<br/>

<div class="success"><h1>Thank you! We have received your submission.</h1>
    <p>Unforunately, we do not have enough data to find a match for you.</p>
    <p>Don't fret! We will email you as soon as we've found your perfect match!</p>



</div>

{% endblock %}
